@tailwind base;
@tailwind components;
@tailwind utilities;


span{
  color:#757575
}
.hand:hover .foot{
  display:block;
}
.placeholder-color::placeholder{
  color:black;
}


/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */ 



/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */


.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.masonry-item {
  margin-bottom: 1rem;
}

@media (min-width: 640px) {
  .masonry {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
